html, body{
    height: 100%;
    margin:0;
    color: rgb(47, 53, 62);
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    /* border:1px solid black; */
    position:relative;
    display:flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.content img{
    display:inline-block;
    width: 45vw;
    padding-left: 10vw;
}
.content main{
    flex-basis: 20vw; flex-shrink: 0;
    font-family: 'Roboto Mono', monospace;
}
.item:nth-child(1){
    font-weight: 600;
    margin:0;
    font-size: 7vw;
    line-height: 1em;
    margin-bottom: .3em;
}
.item:nth-child(2){
    padding-left:.5em;
    font-size: 1.5vw;
    line-height: 1.5em;
}


@media (max-width: 1000px){
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
    }
    main{
        display: flex; flex-direction: column;
    }
    .content img{
        padding: 0;
        width: 60vw;
    }
    .item{
        text-align: center;
    }
    .item:nth-child(1){
        font-weight: 600;
        margin:0;
        font-size: 8vh;
        line-height: 1em;
        margin-bottom: 2vh;
    }
    .item:nth-child(2){
        font-size: 1.8vh;
        line-height: 1.5em;
        margin-bottom: 8vh;
    }
}